/*
Trying to make the personal website nice to look at now.
Beginning with customizing the Nav bar to be horizonal insead of vertical
Resource links for project:
https://www.w3schools.com/css/css_navbar.asp
https://github.com/FullstackAcademy/2308-ACC-ET-WEB-PT-A/tree/example

https://pages.github.com/
https://vscode.dev/liveshare/B521D3CA509BAE0E8E8F48F6D842E58C13D9
*/

menu {
    font-size: xx-large;
    font-family:Arial, Helvetica, sans-serif;
}

h2 {

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    display: inline;
    float: none;
}
a {
    padding: 15px;
    background-color: rgb(189, 212, 255);

}

li:hover {
    background-color
    .active
    background-color:cadetblue;
}

/*First atteempt to adding a repeating background image*/
body {
    background-image: Line pattern.jpg; 
    background-repeat: repeat-x;
}

form {
    flex-direction: column;
}